# Intermediate or optionally dependent files
/.env
/.servo.github.json

# Generated Flatpak manifest
/org.servo.Servo.yml

# Generated icons package
/icons.tar.gz
/icons.tar.gz.sha384sum

# Build directories
/.flatpak-builder/
/build-dir/

# Temporary folder
/temp
